/* SecondSection.css */

.second-section {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .content {
    padding: 20px;
  }
  
  h1, h2, h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkorange;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  